#toggle {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #007bff;
    color: #FFF;
}

#toggle:hover{
    color: rgb(206, 206, 206);
    text-decoration: none;
    background-color: #0069d9;
}

.disabled {
    background-color: #dc3545 !important;
}

.disabled:hover {
    background-color: #c82333 !important;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    padding-top: 1em;
    color: black
}